<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/Caral-The-Missing-Link-Private-Tour-A-2-jpg.webp"></p>
    <p>First City in America </p>    
<%- include('../partials/footer') %>