<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/spider-figure-geoglyph-nazca-desert-nazca-lines-peru-south-america-view-from_564806-4403.avif"></p>
    <p>Nazca about land UFO</p>   
<%- include('../partials/footer') %>