<%- include('../partials/header') %>
    <h1><%=title%></h1>   
    <p><img src="images/Hummingbird-in-Nazca-Lines-different-figures.jpg"></p>
    <p>Nazca about land UFO</p>   
<%- include('../partials/footer') %>